<%= form_with(model: column, local: true) do |form| %>
  <% if column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(column.errors.count, "error") %> prohibited this column from being saved:</h2>

      <ul>
      <% column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :column_title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :column_image %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :column_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
